* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}
